{# THIS FILE IS NOT USED 
TODO:
Move the Markup from core.py into a macro    
#}

{% macro render_inline_editor(editable_html_obj, current_user) %}
    <div id="editor-{{ editable_html_obj.editor_name }}" contenteditable="false">
        {{ editable_html_obj.value|safe }}
    </div>

    {% if current_user.is_authenticated %}
    <a class="btn btn-app btn-flat start-edit">
        <i class="fas fa-edit"></i> Edit
    </a>
    <a class="btn btn-app btn-flat end-edit">
        <i class="fas fa-save"></i> Save
    </a>

    {% endif %}

    <script>
    var editorIDName = "editor-{{ editable_html_obj.editor_name }}";
    $(document).ready(function() {
        {% if current_user.is_authenticated %}
            $(".end-edit").hide();
        {% endif %}
        $(".start-edit").click(function() {
            CKEDITOR.disableAutoInline = true;
            var editor = CKEDITOR.inline(editorIDName, {
                startupFocus: true,
                autoGrow_onStartup: true
            });
            $(".start-edit").hide();
            $(".end-edit").show();
            $("#" + editorIDName).attr("contenteditable","true");
        });

        $(".end-edit").click(function() {
            if ( CKEDITOR.instances[editorIDName] ) {
                var json_data = {
                    {% if csrf_token %}
                    csrf_token: "{{ csrf_token() }}",
                    {% endif %}
                    editor_name: "{{ editable_html_obj.editor_name }}",
                    edit_data: CKEDITOR.instances[editorIDName].getData(),
                };
                $.post("{{ url_for('html_editor.update_editor_contents') }}", json_data);
                CKEDITOR.instances[editorIDName].destroy();
            }
            $(".end-edit").hide();
            $(".start-edit").show();
            $("#" + editorIDName).attr("contenteditable","false");
        });
    });
    </script>

{% endmacro %}